* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}












.hero-img {

    background-image: url(../img/Hero\ Image.png);
    width: 100%;
    min-height: 850px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    justify-content: center;
    padding-bottom: 90px;

}

#one {
    display: flex;
    justify-content: center;
    min-height: 500px;


}

.align-text {
    width: 100%;
    max-width: 50%;
    margin: auto;
    padding-left: 5%;


}

.align-image {
    width: 100%;
    display: flex;
}

.king {
    max-width: 50%;
    margin: auto;


}

a {

    color: #D52047;
}

#two {
    min-height: 660px;
    background-color: #FAFAFA;
    ;

    text-align: center;
}

img {
    width: 100%;
}

.img-container {
    float: left;
    width: 33.33%;
    padding: 5%;
    position: relative;
}

.clearfix {

    display: flex;


}

.text {
    background-color: white;
    position: absolute;
    left: 50%;
    Transform: translateX(-50%);
    top: 60%;
    width: 60%;
    border-radius: 15px;


}

.size {
    padding-bottom: 40px;
    text-align: center;

}

#three {
    text-align: center;
}

.clearfix2 {

    display: flex;



}

.img-container2 {
    float: left;
    width: 25%;
    padding: 5%;
    position: relative;
}

#four {
    display: flex;
    justify-content: center;
    min-height: 500px;
    color: white;
    background-color: #ED4C5C;

}

.align-text2 {
    width: 100%;
    max-width: 50%;
    margin: auto;
    padding-left: 5%;
}

.align-text2 h2 {
    padding-bottom: 20px;
}

.видео {
    max-width: 50%;
    margin: auto;
}


footer {
    background-color: #FAFAFA;
    min-height: 245px;
}







@media (max-width:800px) {
    .clearfix {
        content: "";
        clear: both;
        display: flex;
        flex-direction: column;
    }

    .img-container {

        width: 90%;

        position: relative;
        justify-content: center;
        margin: auto;
        padding-bottom: 20%;

    }
}



@media (max-width:600px) {
    .hero-img {
        min-height: 300px;
    }

    #one {
        display: flex;
        flex-wrap: wrap;
        padding: 0px 0px;
    }

    .align-image {
        width: 100%;

    }

    .align-text {
        width: 100%;
        text-align: center;
        margin: auto;
        padding-left: 0%;

    }

    #two {
        min-height: 200px;
    }





}