* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;



}

.hero-img {

    background-image: url(../img/Hero\ Image.png);
    width: 100%;
    min-height: 850px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    padding-bottom: 90px;

}

#one {
    display: flex;
    justify-content: center;
    min-height: 500px;


}

.align-text {
    width: 100%;
    max-width: 50%;
    margin: auto;
    padding-left: 5%;


}

.align-image {
    width: 100%;
    display: flex;
}

.king {
    max-width: 50%;
    margin: auto;


}

a {

    color: #D52047;
}

#two {
    min-height: 660px;
    background-color: #FAFAFA;
    ;

    text-align: center;
}

img {
    width: 100%;
}

.img-container {
    float: left;
    width: 33.33%;
    padding: 5%;
    position: relative;
}

.clearfix {

    display: flex;




}

.text {
    background-color: white;
    position: absolute;
    left: 50%;
    Transform: translateX(-50%);
    top: 60%;
    width: 60%;
    border-radius: 15px;


}

.size {
    padding-bottom: 40px;
    text-align: center;

}

#three {
    text-align: center;
    justify-content: center;
}

.clearfix2 {

    display: flex;
    justify-content: center;

}

.text2 {
    justify-content: center;
    justify-content: center;
}


.img-container2 {
    float: left;
    width: 25%;
    padding: 5%;
    position: relative;
    justify-content: center;
}

#four {
    display: flex;
    justify-content: center;
    min-height: 500px;
    color: white;
    background-color: #ED4C5C;

}

.align-text2 {
    width: 100%;
    max-width: 50%;
    margin: auto;
    padding-left: 5%;
}

.align-text2 h2 {
    padding-bottom: 20px;
}

.видео {
    max-width: 50%;
    margin: auto;
}


footer {
    background-color: #FAFAFA;
    min-height: 245px;
    max-height: 245px;
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    justify-content: center;
}

footer h2 {
    padding-bottom: 20px;

}

.copyright {
    padding-top: 20px;
    padding-bottom: 10px;
}







@media (max-width:1200px) {
    .clearfix {
        content: "";
        clear: both;
        display: flex;
        flex-direction: column;
    }

    .img-container {

        width: 70%;
        justify-content: center;
        margin: auto;
        padding-bottom: 15%;

    }

    .text {
        background-color: white;
        position: absolute;
        left: 50%;
        Transform: translateX(-50%);
        top: 60%;
        width: 75%;
        border-radius: 15px;
    }
}

@media (max-width:1000px) {
    .видео {
        max-width: 65%;
    }

}

@media (max-width:800px) {
    .text {

        position: relative;
        width: auto;
    }

    .img-container {
        padding: 5%;
    }

    .king {
        max-width: 70%;
    }

    .видео {
        max-width: 75%;
    }
}

@media (max-width:600px) {
    .hero-img {
        min-height: 300px;
    }

    .text2 {
        font-size: small;
    }

    .text2,
    h2 {
        font-size: small;
    }

    #one {
        display: flex;
        flex-wrap: wrap;
        padding: 0px 0px;
    }

    .align-image {
        width: 100%;

    }

    .align-text {
        width: 100%;
        text-align: center;
        margin: auto;
        padding-left: 0%;

    }

    #two {
        min-height: 200px;
    }

    .img-container {
        padding: 5%;
        width: 75%;

    }

    .king {
        max-width: 50%;
    }

    .align-text {

        max-width: 60%;
    }

    .видео {
        max-width: 65%;
    }

    #four {
        display: flex;
        flex-wrap: wrap;
        padding: 0px 0px;
    }

    .align-text2 {

        max-width: 60%;
    }

    footer h2 {
        font-size: medium;
    }
}

@media (max-width:450px) {
    .img-container {
        width: 85%;
    }

    .king {
        max-width: 60%;
        padding-top: 0;
    }

    .align-text {

        max-width: 70%;
        padding-bottom: 0;
    }

    .align-text2 {

        max-width: 70%;
        padding-bottom: 0;
    }

    .видео {
        max-width: 90%;
        padding-top: 0;
    }

    .text2 {
        font-size: x-small;
    }

    .text2,
    h2 {
        font-size: x-small;
    }
}